{% extends 'base.html' %}

{% block content %}
<div class="auth">
    <div class="auth__container">
        <h1 class="auth__title">Login in</h1>
        <p class="auth__subtitle">Enter your login</p>

        <form method="post">
            {% csrf_token %}

            <div class="input-container">
                <label for="id_username">Username:</label>
                <input type="text" id="id_username" name="username" class="input input-margin" placeholder="Enter your username">
            </div>

            <div class="input-container">
                <label for="id_password">Password:</label>
                <input type="password" id="id_password" name="password" class="input input-margin" placeholder="Enter your password">
            </div>

            <button type="submit" class="auth__button">Login</button>
        </form>
    </div>
</div>
{% endblock %}
