{% extends "newsapp/base.html" %}

{% block title %}Мой аккаунт{% endblock %}

{% block content %}
<div class="profile">
    <h2 class="profile__title">
        Edit profile
    </h2>
    <div class="profile__item">
        {% if user.profile.photo %}
            <img src="{{ user.profile.photo.url }}" alt="" width="64px" height="64px">
        {% else %}
            <img src="https://placehold.jp/64x64.png" alt="" width="64px" height="64px">
        {% endif %}
        <div class="profile__info">
            <h4>{{ user.username }}</h4>
            <p>Change profile photo</p>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile__input">
            <h4>Username</h4>
            {{ user_form.username }}
        </div>
        <div class="profile__input">
            <h4>Email</h4>
            {{ user_form.email }}
        </div>
        <div class="profile__input">
            <h4>First name</h4>
            {{ user_form.first_name }}
        </div>
        <div class="profile__input">
            <h4>Last name</h4>
            {{ user_form.last_name }}
        </div>
        <div class="profile__input">
            <h4>Profile photo</h4>
            {{ profile_form.photo }}
        </div>
        <div class="profile__buttons">
            <button class="profile__button" type="submit">Save changes</button>
        </div>
    </form>
</div>
{% endblock %}
