{% extends 'newsapp/base.html' %}

{% block title %}Аналитика{% endblock %}

{% block content %}
<div class="stats">
    <div class="stats__top">
        <div class="stats__top-item">
            <h4>Title</h4>
            <h2 class="stats__price">$45,343.89</h2>
            <h4>+20% month over month</h4>
        </div>
        <div class="stats__top-item">
            <h4>Title</h4>
            <h2 class="stats__price">$45,343.89</h2>
            <h4>+20% month over month</h4>
        </div>
        <div class="stats__top-item">
            <h4>Title</h4>
            <h2 class="stats__price">$45,343.89</h2>
            <h4>+20% month over month</h4>
        </div>
    </div>

    <div class="stat__component">
        <img src="https://placehold.jp/575x370.png" alt="">
        <div class="stat__comp-users">
            <h4>Title</h4>
            <div class="profile__item">
                <img src="https://placehold.jp/64x64.png" alt="" width="64px" height="64px">
                <div class="profile__info">
                    <h4>Manager 1</h4>
                    <p>Change profile photo</p>
                </div>
            </div>
            <div class="profile__item">
                <img src="https://placehold.jp/64x64.png" alt="" width="64px" height="64px">
                <div class="profile__info">
                    <h4>Manager 1</h4>
                    <p>Change profile photo</p>
                </div>
            </div>
            <div class="profile__item">
                <img src="https://placehold.jp/64x64.png" alt="" width="64px" height="64px">
                <div class="profile__info">
                    <h4>Manager 1</h4>
                    <p>Change profile photo</p>
                </div>
            </div>
            <div class="profile__item">
                <img src="https://placehold.jp/64x64.png" alt="" width="64px" height="64px">
                <div class="profile__info">
                    <h4>Manager 1</h4>
                    <p>Change profile photo</p>
                </div>
            </div>
            <div class="profile__item">
                <img src="https://placehold.jp/64x64.png" alt="" width="64px" height="64px">
                <div class="profile__info">
                    <h4>Manager 1</h4>
                    <p>Change profile photo</p>
                </div>
            </div>
        </div>
    </div>
    <div class="stat__component">
        <img src="https://placehold.jp/575x370.png" alt="">
        <div class="stat__comp-users">
            <h4>Title</h4>
            <div class="profile__item">
                <img src="https://placehold.jp/64x64.png" alt="" width="64px" height="64px">
                <div class="profile__info">
                    <h4>Manager 1</h4>
                    <p>Change profile photo</p>
                </div>
            </div>
            <div class="profile__item">
                <img src="https://placehold.jp/64x64.png" alt="" width="64px" height="64px">
                <div class="profile__info">
                    <h4>Manager 1</h4>
                    <p>Change profile photo</p>
                </div>
            </div>
            <div class="profile__item">
                <img src="https://placehold.jp/64x64.png" alt="" width="64px" height="64px">
                <div class="profile__info">
                    <h4>Manager 1</h4>
                    <p>Change profile photo</p>
                </div>
            </div>
            <div class="profile__item">
                <img src="https://placehold.jp/64x64.png" alt="" width="64px" height="64px">
                <div class="profile__info">
                    <h4>Manager 1</h4>
                    <p>Change profile photo</p>
                </div>
            </div>
            <div class="profile__item">
                <img src="https://placehold.jp/64x64.png" alt="" width="64px" height="64px">
                <div class="profile__info">
                    <h4>Manager 1</h4>
                    <p>Change profile photo</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
